<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="./assets/james-monroe.jpeg" class="james" width="150">
      <p>
    </div>
    <div class="col-md-8">

      <h3>Lastly, we shall review government & history</h3>
      <p><p><p>
      <h4>{{question}}</h4>
      <p><p><p>
      <!--<textarea class="md-textarea form-control" rows="10"></textarea>-->
      <p><p><p>
      <button class="btn btn-primary" (click)="getNew()">Next</button>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>