<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="./assets/james-monroe.jpeg" class="james" width="150px">
      <p>
    </div>
    <div class="col-md-8">

      <h3>Now we will study communication and writing</h3>
      <p><p><p>
      <h4 [innerHTML]="question"></h4>
      <p><p><p>
        <div class="margin-bottom-6">
          <button class="btn btn-primary" (click)="getNew()">Next</button>
        </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
